In [31]:
import os
import numpy as np
import pandas as pd

In [32]:
def drop_columns(df, cols):
    """
    This function removes the columns from a DataFrame.
    """
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [33]:
files = os.listdir('ham_veri')
df = pd.concat([pd.read_csv(f"ham_veri/{file}", thousands=".") for file in files], ignore_index=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5928 entries, 0 to 5927
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   img-link href                        5928 non-null   object
 1   photo-count                          5924 non-null   float64
 2   list-view-price                      5928 non-null   int64
 3   list-view-date                       5928 non-null   object
 4   left                                 5928 non-null   object
 5   celly                                5928 non-null   object
 6   celly 2                              5928 non-null   object
 7   celly 3                              5928 non-null   object
 8   celly 4                              5743 non-null   object
 9   eids-badge__description              4940 non-null   object
 10  he-lazy-image src                    4947 non-null   object
 11  eids-badge__label                    4940 non-null   object
 12  list-view-location                   5928 non-null   object
 13  img-wrp href                         3262 non-null   object
 14  he-lazy-image src 2                  5585 non-null   object
 15  he-lazy-image src 3                  2992 non-null   object
 16  listing-card--owner-info__firm-name  3262 non-null   object
 17  listing-card--owner-info__name       814 non-null    object
 18  list-view-header                     5904 non-null   object
 19  wp-btn                               2514 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 926.4+ KB

In [35]:
df.head()

,img-link href,photo-count,list-view-price,list-view-date,left,celly,celly 2,celly 3,celly 4,eids-badge__description,he-lazy-image src,eids-badge__label,list-view-location,img-wrp href,he-lazy-image src 2,he-lazy-image src 3,listing-card--owner-info__firm-name,listing-card--owner-info__name,list-view-header,wp-btn
0,https://www.hepsiemlak.com/istanbul-besiktas-l...,28.0,77000,10-05-2025,Kiralık Daire,3 +\n 1,140 m²,40\n Yaşında,7. Kat,Elektronik İlan Doğrulama Sistemi yetki doğrul...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,EİDS onaylı,İstanbul / Beşiktaş / Levazım Mah.,https://www.hepsiemlak.com/emlak-ofisi/kamil-e...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,Kamil Emlak,Ali\n Şafak,NaN,NaN
1,https://www.hepsiemlak.com/istanbul-sisli-harb...,60.0,250000,10-05-2025,Kiralık Daire,3 +\n 1,150 m²,40\n Yaşında,4. Kat,Elektronik İlan Doğrulama Sistemi yetki doğrul...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,EİDS onaylı,İstanbul / Şişli / Harbiye Mah.,https://www.hepsiemlak.com/emlak-ofisi/bizz-ga...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,Bizz Gayrimenkul,Hale\n Ortaaslan,NaN,NaN
2,https://www.hepsiemlak.com/istanbul-sisli-hali...,19.0,16000,10-05-2025,Kiralık Daire,1 +\n 1,70 m²,22\n Yaşında,Kot 1,Elektronik İlan Doğrulama Sistemi yetki doğrul...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,EİDS onaylı,İstanbul / Şişli / Halide Edip Adıvar Mah.,https://www.hepsiemlak.com/emlak-ofisi/vip-eml...,https://www.hepsiemlak.com/img/loadings/noImag...,NaN,Vıp Emlak,NaN,NaN,NaN
3,https://www.hepsiemlak.com/istanbul-sisli-19-m...,27.0,26000,10-05-2025,Kiralık Daire,2 +\n 1,105 m²,22\n Yaşında,4. Kat,Elektronik İlan Doğrulama Sistemi yetki doğrul...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,EİDS onaylı,İstanbul / Şişli / 19 Mayıs Mah.,https://www.hepsiemlak.com/emlak-ofisi/vip-eml...,https://hecdn01.hemlak.com/mncropresize/280/21...,https://www.hepsiemlak.com/img/loadings/noImag...,Vıp Emlak,NaN,NaN,NaN
4,https://www.hepsiemlak.com/istanbul-sancaktepe...,60.0,60000,09-05-2025,Kiralık Daire,4 +\n 1,215 m²,10\n Yaşında,2. Kat,Elektronik İlan Doğrulama Sistemi yetki doğrul...,https://hecdn01.hemlak.com/img/eids-logo-mini.png,EİDS onaylı,İstanbul / Sancaktepe / Emek Mah.,https://www.hepsiemlak.com/emlak-ofisi/emlak-i...,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/77/67/...,Emlak İstasyonu,NaN,NaN,NaN

In [36]:
cols = ['photo-count', 'list-view-date', 'list-view-header', 'list-view-location', "eids-badge__description",
    "eids-badge__label",
    "list-view-location",
    "img-wrp href",
    "he-lazy-image src",
    "img-wrp href 2",
    "he-lazy-image src 3",
    "listing-card--owner-info__firm-name",
    "listing-card--owner-info__name",
    "he-lazy-image src 4",
    "list-view-header"]
df = df.drop(columns=cols, errors='ignore')
df = df.drop(columns =["he-lazy-image src 2"],errors = 'ignore')
df = df.drop(columns =["wp-btn"],errors = 'ignore')

In [37]:
df.head()

,img-link href,list-view-price,left,celly,celly 2,celly 3,celly 4
0,https://www.hepsiemlak.com/istanbul-besiktas-l...,77000,Kiralık Daire,3 +\n 1,140 m²,40\n Yaşında,7. Kat
1,https://www.hepsiemlak.com/istanbul-sisli-harb...,250000,Kiralık Daire,3 +\n 1,150 m²,40\n Yaşında,4. Kat
2,https://www.hepsiemlak.com/istanbul-sisli-hali...,16000,Kiralık Daire,1 +\n 1,70 m²,22\n Yaşında,Kot 1
3,https://www.hepsiemlak.com/istanbul-sisli-19-m...,26000,Kiralık Daire,2 +\n 1,105 m²,22\n Yaşında,4. Kat
4,https://www.hepsiemlak.com/istanbul-sancaktepe...,60000,Kiralık Daire,4 +\n 1,215 m²,10\n Yaşında,2. Kat

In [38]:
df["location"]= df["img-link href"].apply(lambda x:x.split('/')[3])
df["city"] = df["location"].str.split("-").str[0]
df["district"] = df["location"].str.split("-").str[1]
df["neighborhood"] = df["location"].str.split("-").str[2:-1]
df["neighborhood"] = df["neighborhood"].apply(lambda x: '_'.join(x))
print(df["neighborhood"].unique())

['levazim' 'harbiye' 'halide_edip_adivar' '19_mayis' 'emek' 'kavakli'
 'ortacesme' 'zekeriyakoy' 'poligon' 'catalmese' 'akat' 'mesrutiyet'
 'buyuksehir' 'camlibahce' 'tokatkoy' 'ferikoy' 'bahcelievler' 'eksioglu'
 'gumussuyu' 'piri_reis' 'caddebostan' 'cengelkoy' 'beylerbeyi'
 'tesvikiye' 'egitim' 'namik_kemal' 'merkez' 'visnezade' 'dikilitas'
 'gokturk_merkez' 'mimar_sinan' 'levent' 'emniyet_evleri' 'gayrettepe'
 'nisbetiye' 'karlibayir' 'hacimimi' 'anadolu_hisari' 'emirgan'
 'seyrantepe' 'akevler' 'talatpasa' 'barbaros' 'finanskent' 'zumrutevler'
 'ataturk' 'camlik' 'goztepe' 'feneryolu' 'nurtepe' 'ortabayir'
 'celiktepe' 'dumlupinar' 'karadeniz' 'istasyon' 'ayazaga' 'suadiye'
 'kumburgaz' 'cumhuriyet' 'demirkapi' 'caferaga' 'istiklal' 'baris'
 'merdivenkoy' 'findikli' 'altintepsi' 'sifa' 'battalgazi' 'valide_i_atik'
 'cobancesme' 'bostanci' 'yukari_dudullu' 'maden' 'kandilli' 'gulbahar'
 'siyavuspasa' 'arnavutkoy' 'fatih' 'icerenkoy' 'aydinli' 'kuzguncuk'
 'ortakoy' 'bozkurt' 'kuloglu' 'gungoren' 'mahmutbey' 'bahcesehir_2_kisim'
 'mecidiyekoy' 'kumbaba' 'cakmakli' 'mehmet_akif_ersoy' 'zeynep_kamil'
 'firuzaga' 'cihangir' 'pasa' 'cennet' 'kartaltepe' 'omer_avni' 'alemdag'
 'telsiz' 'necip_fazil_kisakurek' 'sarigol' 'hurriyet' 'abbasaga'
 'gurpinar' 'ferah' 'aydintepe' 'universite' 'yenikoy' 'bulgurlu' 'yildiz'
 'kustepe' 'sumer' 'buyukdere' 'mecidiye' 'maslak' 'inonu' 'fenerbahce'
 'dereagzi' 'kamer_hatun' 'sumbul_efendi' 'kazlicesme' 'dervis_ali'
 'yakuplu' 'sultan_selim' 'katip_mustafa_celebi' 'harmantepe'
 'asmali_mescit' 'murat_reis' 'yeni_mahalle' 'ucevler' 'topcular'
 'kucukbakkalkoy' 'deliklikaya' 'yeni' 'abdurrahman_nafiz_gurman' 'zafer'
 'hirka_i_serif' 'altaycesme' 'asik_veysel' 'kultur' 'mevlanakapi'
 'merkezefendi' 'yeni_sahra' 'ergenekon' 'orta' 'sakizagaci' 'yesilkent'
 'sultanciftligi' 'senlikkoy' 'eskisehir' 'selahaddin_eyyubi' 'guzeltepe'
 'hamidiye' 'feyzullah' 'idealtepe' 'yakacik_carsi' '15_temmuz'
 'asagi_dudullu' 'sahrayi_cedit' 'gullu_baglar' 'fevzi_cakmak'
 'eyup_sultan' 'yesilpinar' 'topkapi' 'site' 'halkali_merkez' 'erenkoy'
 'maltepe' 'yesilkoy' 'telsizler' 'cami' 'caglayan' 'karayollari'
 'kazim_karabekir' 'uskumrukoy' 'sirintepe' 'kirecburnu' 'tevfik_bey'
 'istinye' 'tepeoren' 'gultepe' 'gokevler' 'kordonboyu' 'cakmak' 'yayla'
 'aziz_mahmut_hudayi' 'etiler' 'abdurrahmangazi' 'hasanpasa' 'karliktepe'
 'acibadem' 'guvercintepe' 'kirazlidere' 'evliya_celebi' 'yildiztabya'
 'ahmediye' 'sehremini' 'silahtaraga' 'koca_mustafapasa' 'seyyid_omer'
 'pinar' 'yesilce' 'darussafaka' 'sultan_murat' 'tomtom' 'karlitepe'
 'yenisehir' 'circir' 'dogu' 'fulya' 'osmanaga' 'haseki_sultan' 'selimiye'
 'cihannuma' 'bahcekoy_merkez' 'atikali' 'adnan_kahveci' 'burhaniye'
 'atakent' 'icadiye' 'aydinevler' 'koza' 'turkali' 'esentepe'
 'soganlik_yeni' 'zuhtupasa' 'unalan' 'kucuk_camlica' 'asikveysel'
 'aydinlar' 'topselvi' 'ugur_mumcu' 'ulus' 'esenyali' 'akpinar'
 'kocasinan_merkez' 'orhangazi' 'sultantepe' 'tatlisu' 'altintepe' 'cinar'
 'sutluce' 'mehmet_akif' 'tasoluk' 'sirinevler' 'osmangazi' 'fetih'
 'esenevler' 'baglarcesme' 'kaynarca' 'elmalikent' 'sahkulu'
 'kilicali_pasa' 'bahcesehir_1_kisim' 'purtelas_hasan_efendi'
 'zuhuratbaba' 'altunizade' 'yukari' 'orhantepe' 'gencosman' 'kayisdagi'
 'kucukyali' 'yesilova' 'nuripasa' 'sancaktepe' 'huzur' 'kocatepe'
 'kozyatagi' 'tozkoparan' 'akcaburgaz' 'baglarbasi' 'yavuzturk'
 'selimpasa' 'silivrikapi' 'selami_ali' 'cevizli' 'halaskargazi'
 'barbaros_hayrettin_pasa' 'yenibosna_merkez' 'turgut_ozal' 'osmaniye'
 'ahmet_yesevi' 'madenler' 'ornek' 'cerrahpasa' 'pinartepe' 'inkilap'
 'cavus' 'kurtkoy' 'turkoba' 'yahya_kemal' 'bahcekoy_kemer' 'kosuyolu'
 'mevlana' 'fikirtepe' 'tarabya' 'sahil' 'camlitepe' 'atalar' 'demircikoy'
 'icmeler' 'seyitnizam' 'agacli' 'yavuz_selim' 'esenler' 'alibeykoy'
 'yali' 'terazidere' 'aksemseddin' 'muradiye' 'bebek' 'haciahmet'
 'haznedar' 'yesilyurt' 'esatpasa' 'mimaroba' 'sinanpasa' 'havaalani'
 'petrolis' 'muratpasa' 'zeytinlik' 'yenimahalle' 'yunus_emre'
 'ferahevler' 'mustafa_kemal_pasa' 'balibey' 'kemalpasa' 'necip_fazil'
 'veliefendi' 'ali_kuscu' 'pasabahce' 'acarlar' 'gumuspala' 'gumusyaka'
 'emniyettepe' 'ayvansaray' 'molla_gurani' 'denizkoskler' '100_yil'
 'cukur' 'kinaliada' 'kucuk_piyale' 'camcesme' 'iskenderpasa'
 'rumeli_hisari' 'gursel' 'hadimkoy' 'duatepe' 'soganli' 'nine_hatun'
 'kalyoncu_kullugu' 'balikyolu' 'orucreis' 'hekimbasi' 'guzelyurt'
 'mustafa_kemal' 'kumkoy' 'cubuklu' 'aksaray' 'rasimpasa'
 'fatih_sultan_mehmet' 'kamiloba' 'mimar_sinan_merkez' 'nizam'
 'izzet_pasa' 'guven' 'mescit' 'salacak' 'kemal_pasa' 'kanarya'
 'parseller' 'guzelce' 'ferhatpasa' 'kavacik' 'velibaba' 'karadolap'
 'sakarya' 'nisantepe' 'serifali' 'ornektepe' 'kirazli' 'cigdem'
 'incirtepe' 'basibuyuk' 'orhan_gazi' 'marmara' 'yedikule' 'resitpasa'
 'kemal_turkler' 'kadimehmet_efendi' 'mehtercesme' 'balat' 'esensehir'
 'gumusdere' 'yalikoy' 'bati' 'gulensu' 'cayirbasi' 'incirkoy' 'bulbul'
 'saadetdere' 'anadolu' 'ekinoba' 'haci_kasim' 'esenkent' 'celaliye'
 'riva' 'atakoy_7_8_9_10_kisim' 'birlik' 'dizdariye' 'maresal_cakmak'
 'huseyinaga' 'sultaniye' 'balmumcu' 'yildiztepe' 'sehit_muhtar'
 'halil_rifat_pasa' 'sururi_mehmet_efendi' 'cinardere' 'sinanoba'
 'ambarli' 'yahya_kahya' 'yayalar' 'kayabasi' 'cebeci' 'yesiltepe'
 'sehitler' 'turgut_reis' 'gunestepe' 'menderes' 'aksemsettin'
 'mahmut_sevket_pasa' 'kavakpinar' 'islambey' 'sanayi'
 'barbaros_hayrettinpasa' 'heybeliada' 'hicret' 'sogukpinar' 'gumuspinar'
 'fener' 'gazi' 'basinkoy' 'atakoy_1_kisim' 'soguksu' 'goksu'
 'sogutlu_cesme' 'alibey' 'pasamandira' 'altinsehir' 'yenidogan'
 'bestelsiz' 'kemer' 'piri_mehmet_pasa' 'saray' 'basak' 'bahcekoy_yeni'
 'girne' 'suleymaniye' 'baltalimani' 'kurucesme' 'adil' 'bereketzade'
 'gorele' 'kocatas' 'semizkumlar' 'atakoy_2_5_6_kisim' 'cevatpasa'
 'ziya_gokalp' 'veysel_karani' 'postane' 'guzelyali' 'yenikent'
 'cavusoglu' 'ballica' 'ardicli' 'adem_yavuz' 'mueyyetzade'
 'sariyer_merkez' 'catma_mescit' 'konaklar' 'yenigun' 'kaptan_pasa'
 'kaptanpasa' 'ismetpasa' 'yildirim' 'sahintepe' 'cibali' 'goce' 'kisikli'
 'kucuksu' 'dugmeciler' 'degirmencayiri' 'basaksehir' 'gokalp'
 'mehmet_nesih_ozmen' 'firuzkoy' 'akincilar' 'elmali' 'yarimburgaz' 'tuna'
 'halicioglu' 'seyhli' 'yamanevler' 'tasdelen' 'ruzgarlibahce'
 'armaganevler' 'akbaba' 'dereseki' 'hastane' 'tahtakale' 'karacakoy'
 'sarigazi' 'nisanci' 'cakil' 'eski_habipler' 'cevizlik' 'merve' 'kuleli'
 'cemil_meric' 'burgazada' 'yeni_camlica' 'sirapinar' 'zubeyde_hanim'
 'ornekkoy' 'ciftlik' 'piyalepasa' 'rami_yeni' 'yavuz_sultan_selim'
 'karagumruk' 'kupluce' 'katip_kasim' 'kanlica' 'ramazanoglu' 'yassioren'
 'sarac_ishak' 'ogumce' 'baglar' 'sofular' 'topagaci' 'rami_cuma'
 'cengeldere' 'yunus' 'sultan_ahmet' 'meclis' 'resadiye' 'gunesli']

In [39]:
drop_columns(df,['location','img-link href'])

In [40]:
df.head()

,list-view-price,left,celly,celly 2,celly 3,celly 4,city,district,neighborhood
0,77000,Kiralık Daire,3 +\n 1,140 m²,40\n Yaşında,7. Kat,istanbul,besiktas,levazim
1,250000,Kiralık Daire,3 +\n 1,150 m²,40\n Yaşında,4. Kat,istanbul,sisli,harbiye
2,16000,Kiralık Daire,1 +\n 1,70 m²,22\n Yaşında,Kot 1,istanbul,sisli,halide_edip_adivar
3,26000,Kiralık Daire,2 +\n 1,105 m²,22\n Yaşında,4. Kat,istanbul,sisli,19_mayis
4,60000,Kiralık Daire,4 +\n 1,215 m²,10\n Yaşında,2. Kat,istanbul,sancaktepe,emek

In [41]:
print(df["celly"].unique())

['3 +\n                          1' '1 +\n                          1'
 '2 +\n                          1' '4 +\n                          1'
 '7 +\n                          2' 'Stüdyo'
 '2 +\n                          2' '5 +\n                          2'
 '2 +\n                          0' '5 +\n                          1'
 '3 +\n                          2' '3 +\n                          0'
 '4 +\n                          2' '6 +\n                          1'
 '6 +\n                          2' '11 +\n                          1'
 '13 +\n                          4' '9 +\n                          1'
 '8 +\n                          2' '4 +\n                          0'
 '3 +\n                          4' '1 +\n                          11'
 '23 +\n                          1' '7 +\n                          3'
 '12 +\n                          1' '5 +\n                          5'
 '2 +\n                          10' '4 +\n                          3'
 '1 +\n                          2' '5 +\n                          3'
 '21 +\n                          0' '22 +\n                          1'
 '1 +\n                          223' '31 +\n                          1'
 '4 +\n                          4' '1 +\n                          340'
 '1 +\n                          10' '3 +\n                          11'
 '5 +\n                          6' '1 +\n                          4'
 '6 +\n                          4']

In [42]:
df["celly"] = df["celly"].apply(lambda x: x.replace("Stüdyo", "1 + 0"))
df["celly"] = df["celly"].apply(lambda x: x.replace("\n", ""))
df["room"] = df["celly"].apply(lambda x: x.split("+")[0]).astype(int)
df["living_room"] = df["celly"].apply(lambda x: x.split("+")[1]).astype(int)

In [43]:
print(df["room"].unique())
print(df["living_room"].unique())

[ 3  1  2  4  7  5  6 11 13  9  8 23 12 21 22 31]
[  1   2   0   4  11   3   5  10 223 340   6]

In [44]:
drop_columns(df,["celly"])

In [45]:
print(df["celly 2"].unique())

['140 m²' '150 m²' '70 m²' '105 m²' '215 m²' '750 m²' '75 m²' '350 m²'
 '159 m²' '80 m²' '124 m²' '110 m²' '90 m²' '130 m²' '120 m²' '85 m²'
 '210 m²' '65 m²' '135 m²' '155 m²' '145 m²' '72 m²' '100 m²' '236 m²'
 '51 m²' '50 m²' '259 m²' '60 m²' '180 m²' '55 m²' '169 m²' '220 m²'
 '550 m²' '270 m²' '250 m²' '154 m²' '96 m²' '500 m²' '97 m²' '95 m²'
 '285 m²' '68 m²' '101 m²' '125 m²' '115 m²' '107 m²' '165 m²' '320 m²'
 '73 m²' '99 m²' '78 m²' '300 m²' '81 m²' '58 m²' '160 m²' '128 m²'
 '42 m²' '20 m²' '69 m²' '45 m²' '98 m²' '225 m²' '226 m²' '310 m²'
 '53 m²' '240 m²' '92 m²' '200 m²' '177 m²' '21 m²' '175 m²' '64 m²'
 '183 m²' '109 m²' '22 m²' '71 m²' '139 m²' '40 m²' '147 m²' '138 m²'
 '76 m²' '77 m²' '93 m²' '173 m²' '84 m²' '136 m²' '230 m²' '48 m²'
 '170 m²' '257 m²' '199 m²' '74 m²' '185 m²' '280 m²' '174 m²' '260 m²'
 '83 m²' '118 m²' '450 m²' '82 m²' '44 m²' '235 m²' '163 m²' '480 m²'
 '360 m²' '575 m²' '129 m²' '193 m²' '156 m²' '62 m²' '102 m²' '112 m²'
 '212 m²' '67 m²' '630 m²' '119 m²' '190 m²' '94 m²' '330 m²' '204 m²'
 '86 m²' '103 m²' '152 m²' '705 m²' '148 m²' '63 m²' '126 m²' '265 m²'
 '269 m²' '38 m²' '114 m²' '195 m²' '144 m²' '167 m²' '87 m²' '91 m²'
 '400 m²' '366 m²' '650 m²' '187 m²' '59 m²' '117 m²' '35 m²' '25 m²'
 '30 m²' '52 m²' '234 m²' '88 m²' '256 m²' '178 m²' '232 m²' '39 m²'
 '46 m²' '132 m²' '43 m²' '47 m²' '27 m²' '198 m²' '143 m²' '294 m²'
 '134 m²' '460 m²' '166 m²' '325 m²' '104 m²' '186 m²' '157 m²' '239 m²'
 '390 m²' '66 m²' '252 m²' '209 m²' '539 m²' '184 m²' '388 m²' '133 m²'
 '1.723 m²' '41 m²' '192 m²' '56 m²' '122 m²' '18 m²' '137 m²' '89 m²'
 '151 m²' '182 m²' '292 m²' '189 m²' '34 m²' '410 m²' '950 m²' '79 m²'
 '296 m²' '57 m²' '720 m²' '121 m²' '123 m²' '580 m²' '54 m²' '149 m²'
 '111 m²' '196 m²' '610 m²' '496 m²' '245 m²' '255 m²' '113 m²' '108 m²'
 '380 m²' '37 m²' '219 m²' '297 m²' '168 m²' '213 m²' '218 m²' '61 m²'
 '1.000 m²' '3.000 m²' '1.100 m²' '161 m²' '12 m²' '49 m²' '275 m²'
 '211 m²' '106 m²' '158 m²' '214 m²' '286 m²' '355 m²' '191 m²' '116 m²'
 '197 m²' '475 m²' '290 m²' '222 m²' '282 m²' '36 m²' '26 m²' '488 m²'
 '228 m²' '127 m²' '273 m²' '171 m²' '179 m²' '340 m²' '202 m²' '385 m²'
 '10 m²' '315 m²' '17 m²' '1.050 m²' '24 m²' '370 m²' '229 m²' '142 m²'
 '176 m²' '251 m²' '365 m²' '3.804 m²']

In [46]:
df['celly 2'] = df["celly 2"].apply(lambda x: x.replace(".", ""))
df['area'] = df['celly 2'].apply(lambda x:x.split(" ")[0])

In [47]:
drop_columns(df, ["celly 2"])
df.head()

,list-view-price,left,celly 3,celly 4,city,district,neighborhood,room,living_room,area
0,77000,Kiralık Daire,40\n Yaşında,7. Kat,istanbul,besiktas,levazim,3,1,140
1,250000,Kiralık Daire,40\n Yaşında,4. Kat,istanbul,sisli,harbiye,3,1,150
2,16000,Kiralık Daire,22\n Yaşında,Kot 1,istanbul,sisli,halide_edip_adivar,1,1,70
3,26000,Kiralık Daire,22\n Yaşında,4. Kat,istanbul,sisli,19_mayis,2,1,105
4,60000,Kiralık Daire,10\n Yaşında,2. Kat,istanbul,sancaktepe,emek,4,1,215

In [48]:
df["celly 3"].unique()

array(['40\n                        Yaşında',
       '22\n                        Yaşında',
       '10\n                        Yaşında',
       '25\n                        Yaşında',
       '35\n                        Yaşında',
       '14\n                        Yaşında',
       '6\n                        Yaşında',
       '8\n                        Yaşında',
       '34\n                        Yaşında',
       '21\n                        Yaşında',
       '26\n                        Yaşında',
       '20\n                        Yaşında',
       '30\n                        Yaşında', 'Sıfır Bina',
       '29\n                        Yaşında',
       '31\n                        Yaşında',
       '15\n                        Yaşında',
       '45\n                        Yaşında',
       '4\n                        Yaşında',
       '3\n                        Yaşında',
       '28\n                        Yaşında',
       '1\n                        Yaşında',
       '12\n                        Yaşında',
       '11\n                        Yaşında',
       '13\n                        Yaşında',
       '5\n                        Yaşında',
       '50\n                        Yaşında',
       '2\n                        Yaşında',
       '23\n                        Yaşında',
       '16\n                        Yaşında',
       '44\n                        Yaşında',
       '18\n                        Yaşında',
       '43\n                        Yaşında',
       '36\n                        Yaşında',
       '32\n                        Yaşında',
       '37\n                        Yaşında',
       '38\n                        Yaşında',
       '41\n                        Yaşında',
       '19\n                        Yaşında',
       '7\n                        Yaşında',
       '27\n                        Yaşında',
       '9\n                        Yaşında',
       '42\n                        Yaşında',
       '60\n                        Yaşında',
       '99\n                        Yaşında',
       '33\n                        Yaşında',
       '100\n                        Yaşında',
       '65\n                        Yaşında',
       '55\n                        Yaşında',
       '24\n                        Yaşında',
       '80\n                        Yaşında',
       '17\n                        Yaşında',
       '452\n                        Yaşında',
       '70\n                        Yaşında',
       '85\n                        Yaşında',
       '39\n                        Yaşında',
       '47\n                        Yaşında',
       '46\n                        Yaşında',
       '49\n                        Yaşında',
       '63\n                        Yaşında',
       '90\n                        Yaşında',
       '386\n                        Yaşında',
       '130\n                        Yaşında',
       '48\n                        Yaşında',
       '72\n                        Yaşında',
       '51\n                        Yaşında',
       '110\n                        Yaşında',
       '71\n                        Yaşında',
       '57\n                        Yaşında',
       '222\n                        Yaşında',
       '52\n                        Yaşında',
       '120\n                        Yaşında',
       '53\n                        Yaşında',
       '95\n                        Yaşında',
       '115\n                        Yaşında',
       '75\n                        Yaşında',
       '54\n                        Yaşında'], dtype=object)

In [49]:
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("Sıfır Bina", "0 Yaşında"))
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("/n", " "))
df["age"] = df["celly 3"].apply(lambda x: x.split(" ")[0]).astype(int)

In [50]:
print(df["age"].unique())
drop_columns(df,["celly 3"])

[ 40  22  10  25  35  14   6   8  34  21  26  20  30   0  29  31  15  45
   4   3  28   1  12  11  13   5  50   2  23  16  44  18  43  36  32  37
  38  41  19   7  27   9  42  60  99  33 100  65  55  24  80  17 452  70
  85  39  47  46  49  63  90 386 130  48  72  51 110  71  57 222  52 120
  53  95 115  75  54]

In [51]:
print(df["celly 4"].unique())

['7. Kat' '4. Kat' 'Kot 1' '2. Kat' nan 'Yüksek Giriş' 'Bahçe Katı'
 '6. Kat' '5. Kat' '1. Kat' '11. Kat' '3. Kat' 'Ara Kat' 'En Üst Kat'
 '21 ve üzeri' 'Giriş Katı' '17. Kat' '8. Kat' '13. Kat' '12. Kat'
 '16. Kat' '9. Kat' '19. Kat' '14. Kat' 'Zemin' 'Yarı Bodrum' '10. Kat'
 '18. Kat' 'Kot 2' 'Bodrum' 'Çatı Katı' 'Teras Katı' 'Villa Katı'
 '20. Kat' 'Kot 3' 'Bodrum ve Zemin' '15. Kat']

In [52]:
replace_dict = {
    'Kot 2': '-2. Kat',
    'Kot 1': '-1. Kat',
    'Yüksek Giriş': '1. Kat',
    'Ara Kat': '3. Kat',
    'En Üst Kat': '5. Kat',
    'Bahçe Katı': '0. Kat',
    'Yarı Bodrum': '0. Kat',
    'Bodrum': '0. Kat',
    'Kot 3': '-3. Kat',
    'Çatı Katı': '5. Kat',
    'Zemin': '0. Kat',
    'Giriş Katı': '0. Kat',
    'Villa Katı': '0. Kat',
    '21 ve üzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Tripleks': '0. Kat',
    'Teras Katı': '5. Kat',
    'nan': '2. Kat',
}

df['celly 4'] = df['celly 4'].fillna('2. Kat')
df['celly 4'] = df['celly 4'].replace(replace_dict.keys(), replace_dict.values()).astype(str)
df['floor'] = df['celly 4'].apply(lambda x: x.split('.')[0]).astype(int)

In [53]:
print(df["floor"].unique())

[ 7  4 -1  2  1  0  6  5 11  3 21 17  8 13 12 16  9 19 14 10 18 -2 20 -3
 15]

In [54]:
drop_columns(df, ["celly 4"])

In [55]:
drop_columns(df, ["left"])

In [56]:
df.head()

,list-view-price,city,district,neighborhood,room,living_room,area,age,floor
0,77000,istanbul,besiktas,levazim,3,1,140,40,7
1,250000,istanbul,sisli,harbiye,3,1,150,40,4
2,16000,istanbul,sisli,halide_edip_adivar,1,1,70,22,-1
3,26000,istanbul,sisli,19_mayis,2,1,105,22,4
4,60000,istanbul,sancaktepe,emek,4,1,215,10,2

In [57]:
df["list-view-price"].unique()

array([  77000,  250000,   16000,   26000,   60000,   75000,   14000,
        150000,  180000,   22000,   68000,   45000,   55000,   27000,
         23000,   18000,   28000,   80000,   16500,   65000,  135000,
         35700,   42200,   21000,   90000,  140000,   30000,   31000,
         89000,   35000,   40000,   50000,   57000,  270000,  360000,
        125000,  130000,  500000,  120000,  265000,   25000,   15000,
        155000,   38000,   53500,   47800,   38500,   48500,   85000,
         20000,   32000,  600000,   35500,   58000,   24000,   22750,
         41500,   37500,   36000,  110000,   48000,   57500,   17500,
         63000,  100000,   62000,  160000,   42500,  300000,   19000,
         13000,   25500,   11000,   20500,   29000,   92000,   49000,
         17000,   70000,   24500,   44000,   22500,   74000,   39000,
         36500,   13500,   23500,   12000,  145000,    9000,   37000,
         14500,   10000,   26500,   27500,   18500,   95000,  165000,
         33000,   34000,   51000,   29990,   47000,   15500,   52000,
         43000,   32500,   41000,   56000,  138000,   21500,   52500,
        105000,   66000,   19500,   98000,  132000,   42000,  119000,
         78000,    6500,   28500,  200000,   25750,    9500,   46500,
         82000,   30999,   47500,    7500,   62500,  190000,  390000,
        136500,  129500,   51500,   71000,   20400,   39500,   36900,
         59500,   99000,  210000,   30500,   83000,  149000,   87500,
        350000,   33500,  365000,    8500,   82500,  170000,  115000,
         37700,   46000,  550000,  480000,   61250,   12500,   59000,
         34900,   53000,   17750,   24750,   31500,    8000,   33300,
        175000,   19750,   54000,  235000,    7000,   71500,  395000,
         86000,   58500,  345000,  400000,   23700,   30750,   72000,
        195000,   26750,  230000,   23900,  215000,   29500,   10500,
        285000,   67500,  260000,  209000,  225000,   77500,  245000,
         15250,  490000,   91000,  290000,   34999,   76000,   19250,
         49750,  310000,  425000,   74500,   79000,  185000,  450000,
        330000,   15100,   67000,  220000,   23250,   12750,  320000,
        380000,   55500,   40500,   11500,   73000, 2600000,   96500,
         33900,  460000,   20250,   22104,  325000,  570000,   39999,
         69000,   49500,   72500, 3300000,  415000,   12999,   61000,
        262500,   43500,   20050,    8750,   45500,  275000,   73500,
         84000,  114000,  117000,   11950,   25250,   20750,   19999,
          6000,   20100,  240000,   56750,   92500,   28750,   18400,
         34500,    1300,  115500,  280000,    9800,   11999,  420000,
         29750,   18750,   27999,   19200, 2050000,   11250,   26900,
         64000,   87000,  615000,   97500,    9250,    5500,   18250,
         35750,  498000,   27250,   96000,   25900,    5000,   49999,
          3999,  575000,  470000,    4000,    3000,   11200,    4500,
       4650000, 2000000], dtype=int64)

In [58]:
df["price"]= df["list-view-price"].astype(int)

In [59]:
drop_columns(df, ["list-view-price"])

In [60]:
df.head()

,city,district,neighborhood,room,living_room,area,age,floor,price
0,istanbul,besiktas,levazim,3,1,140,40,7,77000
1,istanbul,sisli,harbiye,3,1,150,40,4,250000
2,istanbul,sisli,halide_edip_adivar,1,1,70,22,-1,16000
3,istanbul,sisli,19_mayis,2,1,105,22,4,26000
4,istanbul,sancaktepe,emek,4,1,215,10,2,60000

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5928 entries, 0 to 5927
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          5928 non-null   object
 1   district      5928 non-null   object
 2   neighborhood  5928 non-null   object
 3   room          5928 non-null   int32
 4   living_room   5928 non-null   int32
 5   area          5928 non-null   object
 6   age           5928 non-null   int32
 7   floor         5928 non-null   int32
 8   price         5928 non-null   int32
dtypes: int32(5), object(4)
memory usage: 301.2+ KB

In [63]:
df.to_csv('rent_data.csv',index=False)